*{
  margin: 0;
  padding: 0;
  background: #181818;
  color: #fff;
  font-family: "Poppins";
}



.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

button:hover {
  transition: background-color 0.2s;
}