*{
  font-family: monospace;
}

.app {
  padding: 1rem;
  background-color: #202020;
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.drag-area {
  height: 2rem;
  cursor: move;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.window-controls {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.window-controls button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.window-controls button:hover {
  background-color: rgba(55, 65, 81, 0.5);
}

.cheatsheet .description{
  font-size: 12px;
}

.cheatsheet .description span{
  font-weight: 600;
}

.code-area{
  background: #2c2c2c;
  padding: 0.1px 10px 0.1px 10px;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.code-area p{
  font-size: 13px;
}

.code-lösung{
  color: #9e9e9e;
}